body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Courier-New';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Courier-New';
}
h2 {
    font-size: 2em;
    font-family:'Courier-New';
}
h3 {
    font-size: 1em;
    font-family:'Courier-New';
}
h4 {
    font-size: 0.5em;
    font-family:'Courier-New';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.item{
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

#index-gallery{
  width:465px;
}