a 
{
	text-decoration: none;
	color: gray;
	font-size: 1.5em;
	font-family:'Courier'
}

a:hover 
{
	text-decoration: underline;
	color: lightblue;
	text-decoration-color: lightblue;
}

body 
{
	background-image: url("background_pattern.png");
}

h1 
{
	font-size: 3em;
	font-family:'Courier';
	color: lightgray;
}

h2 
{
	font-size: 2em;
	font-family:'Courier';
	color: darkgray;
}

h3 
{
	font-size: 1em;
	font-family:'Courier';
	color: lightgray;
}
h4 
{
    font-size: 0.5em;
    font-family:'Courier';
    color: lightgray;
}
h5 
{
    font-size: 0.5em;
    font-family:'Courier';
    color: lightgray;
}

p 
{
    font-size: 1em;
    font-family:'Courier';
    line-height: 1.4em;
    color: lightgray;
}

ol
{
 font-size: 1em;
     font-family:'Courier';
    line-height: 1.4em;
    color: lightgray;
}

button
{
	background-color: darkgray;
	color: darkgray;
}

button:hover
{
	background-color: lightgray;
	color: darkgray;
}