.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url("background_pattern.png");
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidebar h1
{
	color:white; 
	font-size:1.75em;
	padding:6px 8px 6px 16px;
}

.sidebar a
{
	color: #999999;
	padding: 6px 8px 6px 16px;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


a 
{
	text-decoration: none;
	color: #808080;
	font-size: 1.5em;
	font-family:'Courier'
}

a:hover 
{
	color: #6DC5D8;
}


body 
{
	background-image: url("ps_neutral_@2X.png");
	padding: 1em 3em 3em;
}

h1 
{
	font-size: 3em;
	font-family:'Courier';
	color: black;
}

h2 
{
	font-size: 2em;
	font-family:'Courier';
	color: #333333;
}

h3 
{
	font-size: 1em;
	font-family:'Courier';
	color: #666666;
}
h4 
{
    font-size: 0.8em;
    font-family:'Courier';
    color: #999999;
}
h5 
{
    font-size: 0.8em;
    font-family:'Courier';
    color: #999999;
}

p 
{
    font-size: 1em;
    font-family:'Courier';
    line-height: 1.4em;
    color: #666666;
}
p.gray
{
	font-size: 1em;
    font-family:'Courier';
    line-height: 1.4em;
    color: white;
}

button
{
	background-color: #DEDEDE;
}

button:hover
{
	background-color: #A2A2A2;
}

a.butt
{
	padding: 12px 24px;
}

img 
{
   padding:3px;
   border:2px solid #666666;
   background-color:#333333;
}

canvas
{
   padding:3px;
   border:2px solid #666666;
   background-color:#333333;
}

.box
{
	margin: auto;
	overflow: auto;
}