a 
{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	font-family:'Courier'
}

a:hover 
{
	text-decoration: underline;
}

body 
{
	background-color: white;
}

h1 
{
	font-size: 3em;
	font-family:'Courier';
}

h2 
{
	font-size: 2em;
	font-family:'Courier';
}

h3 
{
		font-size: 1em;
	font-family:'Courier';
}
h4 
{
    font-size: 0.5em;
    font-family:'Courier';
}

p 
{
    font-size: 1em;
     font-family:'Courier';
    line-height: 1.4em;
    color: #333;
}

ol
{
 font-size: 1em;
     font-family:'Courier';
    line-height: 1.4em;
    color: #333;
}