body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 50%;

  max-width:2000px;
  max-height:1000px;
  width:auto;
  height:auto;

  border: solid #595959 16px;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Add a color to the active/current link */
.home {
  float: left;
  color: #4d4d4d;
  background-color: white;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.home:hover {
  color: white;
  background-color: #4d4d4d;
}
.home_activated {
  float: left;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}

.about_tab {
  float: left;
  color: #ffa64d;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.about_tab:hover {
  background-color: #ffa64d;
  color: white;
}
.about_tab_activated {
  float: left;
  color: white;
  background-color: #ffa64d;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.resume_tab {
  float: left;
  color: #80ccff;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.resume_tab:hover {
  background-color: #80ccff;
  color: white;
}
.resume_tab_activated {
  float: left;
  color: white;
  background-color: #80ccff;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.portfolio_tab {
  float: left;
  color: #8cff66;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.portfolio_tab:hover {
  background-color: #8cff66;
  color: white;
}
.portfolio_tab_activated {
  float: left;
  color: white;
  background-color: #8cff66;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.service_tab {
  float: left;
  color: #ff6666;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}
.service_tab:hover {
  background-color: #ff6666;
  color: white;
}
.service_tab_activated {
  float: left;
  color: white;
  background-color: #ff6666;
  text-align: center;
  padding: 24px 32px;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Lucida Console", Monaco, monospace
}




.container { 
  height: 5px;
  position: relative;
  /*border: 3px solid green;*/

  height: 100px;
}

.center_in_box {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*border: 3px solid blue;*/
}

.center_in_box a {
  text-align: center;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Lucida Console", Monaco, monospace;
}

.center_in_box a:hover {
  background-color: #595959;
  color: #262626;
}

.about_title {
  max-width: 150px;
  width: 150px;
  color: #999999;
  font-size: 30px;
}
.about_info {
  font-size: 24px;
}

.resume {
  pointer-events: none;
  display: table;
  position: absolute;
  width: 1100px;
  height: 1500px;
  left: 50%;
  margin: 45px 0 150px -550px;
  border: solid #99d6ff 16px;
}
.resume_container a {
  padding: 12px 20px;
  background-color: #80ccff;
  color: white;
}
.resume_container a:hover {
  background-color: white;
  color: #80ccff;
}
.resume_container {
  text-align: center;
  font-size: 32px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  /*border: solid blue 2px;*/
  padding-top: 48px;
}
.resume_link {
  display: inline-block;
}

.box
{
  margin: auto;
  overflow: auto;
}

.portfolio_large_container {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 18%;
  padding-right: 18%;
}

div.summer_container {
  /*border: 3px solid blue;*/
  padding-left: 60px;
  display:grid;
  grid-template-columns: 390px 585px;
  grid-row: auto auto;
  grid-column-gap:16px;
  grid-row-gap: 0px;
}

div.summer_box {
  /*border: 3px solid green;*/
  display:flex;
  align-items:center;
  justify-content:center;
}

div.summer_content {
  /*border: 3px solid red;*/
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 12px;

  background-color: #d9ffcc;

  width: 475px;
  height: 475px;
}

.summer_content img {
  display: block;
  margin: 0 auto;
  width: 448px;
  height: 285px;
  align-self: center;
  border: 5px solid #b3ff99;

  /*border: 5px solid #f2f2f2;*/
}

.portfolio_container{
  /*border: 3px solid blue;*/
  padding: 8px;
  display: grid;
  grid-row: auto auto;
  grid-template-columns: 930px 100px;
}
.portfolio_box{
  /*border: 3px solid green;*/
  align-items:center;
}

.portfolio_style {
  border-radius: 4px;
  border: 16px solid #b3ff99;
  background-color: #d9ffcc;
  padding: 16px;

  display: inline-block;
  max-width: 110%;
  min-width: 100%;
}

.portfolio_style img {
  display: block;
  margin: 0 auto;
  align-self: center;
  border: 5px solid #b3ff99;

  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.portfolio_style p {
  font-size: 17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  justify-content: center;
  text-align: justify;
}

.portfolio_style h3 {
  font-size: 22px;
  font-family: "Lucida Console", Monaco, monospace;
  justify-content: center;
  text-align: justify;
}

div.about_container {
  /*border: solid blue 3px;*/

  position: relative;
  height: 750px;
}
div.about_box {
  /*border: solid green 3px;*/

  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.about_content {
  /*border: solid red 3px;*/

  width: 900px;
  height: 530px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;

  border-radius: 4px;
  border: 16px solid #ffb366;
  background-color: #ffbf80;
}

.about_content img {
  border: 5px solid #ffd9b3;

  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;

  width: 228px;
  height: 520px;
}

.about_content p{
  font-size: 19px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  justify-content: center;
  text-align: justify;
}

.about_content h3{
  font-size: 52px;
  font-family: "Lucida Console", Monaco, monospace;
}