@charset "utf-8";
/* CSS Document - style.css */

/* COLORS */
:root {
    --black: #212121;
    --white: #f2f2f2;
    --white-gray: #a8a8a8;
    
    --dot-selected: #ffffff;
    --dot-not-selected: #66666666;
    
    --green: #91ff69;
    --blue: #69e1ff;
    --orange: #ffac47;
    --red: #ff5e5e;
    --purple: #d382ff;
}

/* LINK COLOR CLASSES */
.green_link { color: var(--white); text-decoration: none; }
.green_link:hover {
    color: var(--green); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ }

.blue_link { color: var(--white); text-decoration: none; }
.blue_link:hover {
    color: var(--blue); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ }

.orange_link { color: var(--white); text-decoration: none; }
.orange_link:hover {
    color: var(--orange); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ }

.red_link { color: var(--white); text-decoration: none; }
.red_link:hover {
    color: var(--red); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ }

.purple_link { color: var(--white); text-decoration: none; }
.purple_link:hover {
    color: var(--purple); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ }

/* OTHER */
div {
/*    border: 1px solid lightblue;*/
}

html {
    background-color: var(--black);
    
    height: 100%;
    margin: auto;
}

body {
    width: calc(100vw - 34px);
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

/* CUSTOM CLASSES */
.main {
    background-color: clear;
    margin: auto;
    max-width: 1200px;
    min-width: 600px;
    
    padding-left: 24px;
    padding-right: 24px;
}

.header {
    background-color: clear;
    
    height: 80px;
}

.grid_layout {
    background-color: clear;
    
    display: grid;
    grid-template-rows: 64px auto;
    grid-template-columns: 100px 150px auto 250px;
}

.grid_layout_no_left_column {
    background-color: clear;
    
    display: grid;
    grid-template-rows: 64px auto;
    grid-template-columns: 100px 150px auto;
}

.pre_marco {
    background-color: clear;
    
    position: relative;
    margin-bottom: 6px;
    color: var(--white-gray);
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.marco_home {
    background-color: clear;
    
    position: relative;
    font-size: 24px;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.post_marco {
    background-color: clear;
    
    position: relative;
    margin-bottom: 6px;
    margin-left: 4px;
    color: var(--white-gray);
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

.under_pre_marco {
    background-color: clear;
    
    
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.nav {
    background-color: clear;
    position: relative;
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.nav_element {
    text-align: right;
    text-decoration: none;
    height: 30px;
    line-height: 0;
}

.main_content {
    background-color: clear;
    
    padding-left: 48px;
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

#contact_title {
    text-align: right;
    font-size: 24px;
    line-height: 0px;
    color: var(--white);
}

#contact_content {
    text-align: right;
    line-height: 10px;
    height: 200px;
    color: var(--white-gray);
}

#find_me_title {
    font-size: 24px;
    text-align: right;
    line-height: 0px;
    color: var(--white);
}

#find_me_content {
    text-align: right;
    line-height: 10px;
}

#interest_title {
    text-align: right;
    font-size: 24px;
    line-height: 35px;
    color: var(--white);
}

#interest_content {
    text-align: right;
    line-height: 10px;
    height: 200px;
    color: var(--white-gray);
}

#hobbies_title {
    font-size: 24px;
    text-align: right;
    line-height: 35px;
    color: var(--white);
}

#hobbies_content {
    text-align: right;
    line-height: 10px;
}


.left_column {
    background-color: clear;
    padding-right: 24px;
    
    
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
}

/* ABOUT PAGE */
#about_img {
    width: 300px;
    height: 450px;
    border: 3px soild var(--white);
}

#about_txt {
    color: var(--white-gray);
}

/* PORTFOLIO PAGE */

#project_title {
    margin-right: 38px;
    text-align: right;
    color: var(--white);
}
#project_date {
    margin-right: 38px;
    text-align: right;
    color: var(--white-gray);
}
#project_wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    min-width: 500px;
}
#project_text {
    color: var(--white-gray);
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
#project_img {
    width: 100%;
    height: 100%;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
#project_link {
    color: var(--white);
}
#dot_container {
    display: flex;
    justify-content: center;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: var(--dot-not-selected);
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.dot.active, .dot:hover {
    background-color: var(--dot-selected);
}

.project {
    display: none;
}

.project.active {
    display: block;
    transition: 1s; 
}

/* RESUME PAGE */
#resume_img {
    width: 100%;
    min-width: 500px;
}
#resume_link { 
    color: var(--white); 
    text-decoration: none; 
    text-align: right;
}
#resume_link:hover {
    color: var(--blue); 
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */ 
}

/* spans */

.bottom_right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 0px;
}

.bottom_left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 0px;
}

.bottom_center {
    position: absolute;
    bottom: 0px;
    line-height: 0px;
}