body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.background-div {
    height: 100%;
    width: 100%;
    /* stars.gif from -> https://it.pinterest.com/pin/607563805965076926/ */
    background-image: url('../assets/stars.gif');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.content-div {
    height: 100vh;
    width: 780px;
}

.title-top-div {
    height: 80px;
    width: 100%;
}

.title-banner-div {
    height: 200px;
    width: 100%;
    /* sunsetbeach.gif from -> https://www.pinterest.com/pin/49328558413047920/ */
    /* aquarium.gif from -> https://www.pinterest.com/pin/85849936642853030/ */
    background-image: url('../assets/aquarium.gif');
    overflow: hidden;
}

.title-bottom-div {
    height: 80px;
    width: 100%;
    text-align: right;
}

.info-div {
    height: 200px;
    width: 100%;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.email-div {
    height: 200px;
    background-color: blueviolet;
}

.education-div {
    height: 200px;
    background-color: blue;
}

.github-div {
    height: 200px;
    background-color: darkseagreen;
}

.proj-div {
    height: 200px;
    width: 100%;
    background-color: greenyellow;
}