body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* stars.gif from -> https://it.pinterest.com/pin/607563805965076926/ */
    background-image: url('../assets/stars.gif');
    background-repeat: repeat;
}

h1 {
    margin: 0;
}

p {
    margin:  0;
    padding: 0;
}

.background-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.content-div {
    height: 100vh;
    width: 780px;
}

.title-top-div {
    height: 80px;
    width: 100%;
}

.title-banner-div {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* sunsetbeach.gif from -> https://www.pinterest.com/pin/49328558413047920/ */
    /* aquarium.gif from -> https://www.pinterest.com/pin/85849936642853030/ */
    background-image: url('../assets/aquarium.gif');
    border: 2px solid white;
    overflow: hidden;
}

.title-bottom-div {
    height: 80px;
    width: 100%;
    text-align: right;
}

.info-div {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.email-div {
    height: 200px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.education-div {
    height: 200px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.github-div {
    height: 200px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.proj-div {
    height: 200px;
    width: 100%;
    display: flex;
}

.proj-img {
    height: 200px;
    width: 300px;
}

.proj-info {
    height: 200px;
    width: 100%;
}

.proj-title {
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0)
}

.proj-paragraph {
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0)
}

.proj-i {
    color: cyan;
}

.proj-a {
    color: fuchsia;
}

.proj-a:visited {
    color: rgb(205, 8, 205)
}

.footer-div {
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}